<div class="container-fluid">
  <nav class="navbar navbar-expand-lg">
    <div class="container border-bottom py-2">
      <a routerLink="/">
        <img class="bi me-2" height="30" width="30" src="assets/img/olaser_logo.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-dark" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/about">About</a>
          </li>
        </ul>
        <form class="d-flex">
          <a href="https://github.com/OmkarArote/Angular-Todo-App" target="_blank" class="btn btn-warning">Contribute
            <fa-icon [icon]="githubIcon" size="lg"></fa-icon></a>
        </form>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>