<div>
  <div class="container-fluid">
    <header class="p-3">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a routerLink="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img class="bi me-2" height="30" width="30" src="assets/img/olaser_logo.png" alt="">
          </a>
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a routerLink="/" class="nav-link px-2 text-secondary">Home</a></li>
            <li><a routerLink="/about" class="nav-link px-2 text-secondary">About</a></li>
          </ul>
          <div class="text-end">
            <button type="button" class="btn btn-warning"><fa-icon [icon]="githubIcon" size="lg"></fa-icon></button>
          </div>
        </div>
      </div>
    </header>
  </div>
  <router-outlet></router-outlet>
</div>